:root {
  --primary: #606C38;
  --secondary: #283618;
  --base: #FEFAE0;
  --tertiary: #DDA15E;
  --quartanery: #BC6C25;
}

nav {
  padding: 2em;
  background: var(--primary);
  ul {
    display: flex;
    justify-content: center;
    gap: 3em;
    list-style: none;

    li a {
      color: var(--base);
      text-decoration: none;
      font-size: 1.3em;
      transition: color linear 150ms;
      
      &:hover {
        color: var(--tertiary);
      }
    }
  }
}